In [515]:
import numpy as np
import pandas as pd

In [516]:
data=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [517]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [518]:
data=data.drop(['customerID'],axis=1)

In [519]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [520]:
data.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [521]:
data['TotalCharges']=data['TotalCharges'].apply(pd.to_numeric,errors='coerce')

In [522]:
data.dropna(inplace=True)

In [523]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [524]:
data.shape

(7032, 20)

In [525]:
X=data.drop(["Churn"],axis=1)
y=data.drop(X,axis=1)

In [526]:
y['Churn'].replace(to_replace='Yes', value=1, inplace=True)
y['Churn'].replace(to_replace='No',  value=0, inplace=True)

In [527]:
y

      Churn
0         0
1         0
2         1
3         0
4         1
...     ...
7038      0
7039      0
7040      0
7041      1
7042      0

[7032 rows x 1 columns]

In [528]:
X=pd.get_dummies(X)

In [529]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score,train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y.values.ravel(),shuffle=True)
logistic_model=LogisticRegression(max_iter=500)

In [530]:
logistic_model.fit(X_train,y_train)

LogisticRegression(max_iter=500)

In [531]:
logistic_model.score(X_train,y_train)

0.8079256731133865

In [532]:
logistic_model.score(X_test,y_test)

0.7946530147895335

In [533]:
from sklearn.tree import DecisionTreeClassifier
tree_model=DecisionTreeClassifier()

In [534]:
tree_model.fit(X_train,y_train)

DecisionTreeClassifier()

In [535]:
tree_model.score(X_train,y_train)

0.9979142965491088

In [536]:
tree_model.score(X_test,y_test)

0.7195676905574516

In [537]:
from sklearn.svm import LinearSVC
linear_svc=LinearSVC()

In [538]:
linear_svc.fit(X_train,y_train)

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [539]:
linear_svc.score(X_train,y_train)

0.46075085324232085

In [540]:
linear_svc.score(X_test,y_test)

0.46188850967007966

In [541]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()

In [542]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [543]:
knn.score(X_train,y_train)

0.8312476298824422

In [544]:
knn.score(X_test,y_test)

0.7588168373151308

In [545]:
from sklearn.neural_network import MLPClassifier
mlp_classifier=MLPClassifier()

In [502]:
mlp_classifier.fit(X_train,y_train)

MLPClassifier()

In [503]:
mlp_classifier.score(X_train,y_train)

0.5394387561623056

In [504]:
mlp_classifier.score(X_test,y_test)

0.5392491467576792

In [505]:
from sklearn.model_selection import KFold
cv=KFold(n_splits=5,shuffle=True)

lm=LogisticRegression(max_iter=500)
scores=[]
for train,test in cv.split(X,y):
    model=lm.fit(X.values[train],y.values[train])
    score=model.score(X.values[train],y.values[train])
    print(score)
    scores.append(score)

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8039111111111111
0.8074666666666667

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8046569498755777

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8062566654816922

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8051901884109491

In [506]:
print(np.mean(np.array(scores)))

0.8054963163091994

In [507]:
lm=DecisionTreeClassifier()
scores=[]
for train,test in cv.split(X,y):
    model=lm.fit(X.values[train],y.values[train])
    score=model.score(X.values[test],y.values[test])
    print(score)
    scores.append(score)

0.7313432835820896
0.7348969438521677
0.7318634423897582
0.7247510668563301
0.7226173541963016

In [508]:
print(np.mean(np.array(scores)))

0.7290944181753295

In [509]:
lm=LinearSVC()
scores=[]
for train,test in cv.split(X,y):
    model=lm.fit(X.values[train],y.values[train])
    score=model.score(X.values[test],y.values[test])
    print(score)
    scores.append(score)

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.4904051172707889

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7533759772565742

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7780938833570412

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7859174964438123
0.7546230440967283

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [510]:
print(np.mean(np.array(scores)))

0.7124831036849889

In [511]:
lm=KNeighborsClassifier()
scores=[]
for train,test in cv.split(X,y):
    model=lm.fit(X.values[train],y.values[train])
    score=model.score(X.values[train],y.values[train])
    print(score)
    scores.append(score)

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8261333333333334

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8346666666666667

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8329185922502667

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8298969072164949

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8316743690010665

In [512]:
print(np.mean(np.array(scores)))

0.8310579736935656

In [513]:
lm=MLPClassifier()
scores=[]
for train,test in cv.split(X,y):
    model=lm.fit(X.values[train],y.values[train])
    score=model.score(X.values[test],y.values[test])
    print(score)
    scores.append(score)

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7810945273631841

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8130774697938877

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.5782361308677099

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7745376955903271

/home/samet/anaconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.5320056899004267

In [514]:
print(np.mean(np.array(scores)))

0.6957903027031072