In [1017]:
import numpy as np
import pandas as pd

In [1018]:
data=pd.read_csv('fitbit.csv')

In [1019]:
data.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,7/07/2016,"2,682","12,541",9.02,13,667,171,18,60,"1,248"
1,8/07/2016,"2,423","8,029",5.70,35,760,208,13,6,928
2,9/07/2016,"2,875","10,801",7.67,3,496,148,18,46,"1,040"
3,10/07/2016,"2,638","11,997",8.52,22,771,248,3,27,"1,285"
4,11/07/2016,"2,423","9,039",6.42,12,714,232,10,16,"1,044"

In [1020]:
data=data.drop(['Date'],axis=1)

In [1021]:
data.head()

,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,"2,682","12,541",9.02,13,667,171,18,60,"1,248"
1,"2,423","8,029",5.70,35,760,208,13,6,928
2,"2,875","10,801",7.67,3,496,148,18,46,"1,040"
3,"2,638","11,997",8.52,22,771,248,3,27,"1,285"
4,"2,423","9,039",6.42,12,714,232,10,16,"1,044"

In [1022]:
X=data.drop(['Calories Burned'],axis=1)
y=data['Calories Burned']

In [1023]:
for column_names in X.columns:
    X[column_names]=X[column_names].replace(',','',regex=True)
    print(column_names)

Steps
Distance
Floors
Minutes Sedentary
Minutes Lightly Active
Minutes Fairly Active
Minutes Very Active
Activity Calories

In [1024]:
y=y.replace(',','',regex=True)

In [1025]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_regression

In [1026]:
test=SelectKBest(score_func=mutual_info_regression,k=4)
selections=test.fit_transform(X,y)
filter=test.get_support()

In [1027]:
features=np.array(X.columns)
features[filter]

array(['Steps', 'Distance', 'Minutes Fairly Active', 'Activity Calories'],
      dtype=object)

In [1028]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import Ridge

In [1029]:

rfe=RFE(Ridge(),n_features_to_select=4)

In [1030]:
rfe_selection=rfe.fit(X,y)

In [1031]:
rfe_selection.support_

array([False,  True, False, False,  True,  True,  True, False])

In [1032]:
rfe_features=np.array(X.columns)[rfe_selection.support_]

In [1033]:
rfe_features

array(['Distance', 'Minutes Lightly Active', 'Minutes Fairly Active',
       'Minutes Very Active'], dtype=object)